<section
  class="flex flex-row justify-center lg:justify-between items-center text-whitemx-7 lg:mx-72"
>
  <div>
    <p class="text-xl text-gray-50">Javascript developer</p>
    <h2 class="text-4xl font-bold tracking-tight after:sm:text-5xl text-white">
      Soy Francisco!
    </h2>
    <p class="mt-2 text-xl text-gray-300 max-w-md">
      Desarrollador Web Freelance. <strong class="text-green-500"
        >Estudiante de Ingeniería en Informatica y Fullstack/Frontend Developer.</strong
      > Me encanta aprender cosas nuevas y compartir conocimientos.
    </p>

    <div class="flex flex-row gap-5 mt-5">
      <a
        href="mailto:fco.gutierrez1227@gmail.com"
        class="flex items-center justify-center bg-green-500/10 border-green-500 border-2 text-white font-bold py-2 px-4 rounded-full hover:bg-green-500 hover:text-black transition-colors"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-mail mr-2"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
          ></path><path d="M3 7l9 6l9 -6"></path></svg
        > Contactame
      </a>

      <a
        href="https://www.linkedin.com/in/francisco-gutierr%C3%A9z-jara-1b7580254/?locale=en_US"
        target="_blank"
        class="flex items-center justify-center bg-green-500/10 border-green-500 border-2 text-white font-bold py-2 px-4 rounded-full hover:bg-green-500 hover:text-black transition-colors"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin mr-2"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
            d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
          ></path></svg
        >
        LinkedIn
      </a>
    </div>
  </div>

  <img
    src="/home-image-1.svg"
    alt="developer"
    class="hidden lg:flex max-w-md max-h-min"
  />
</section>
