<div class="title flex flex-col items-center justify-center text-white w-full">
  <h1 class="font-bold text-7xl mt-28">FCO-GT</h1>
  <p class="text-2xl mt-2 text-slate-200">Frontend y Fullstack developer</p>
</div>

<style>
  div {
    background: radial-gradient(hsl(100 100% 50%), hsl(200 100% 60%)) fixed;
    background: conic-gradient(
        hsl(100 100% 60%),
        hsl(200 100% 60%),
        hsl(100 100% 60%)
      )
      fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
</style>
